* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  .mySlides {display: none}
img {vertical-align: middle;}
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: DINPro-bold;
  background: radial-gradient(circle, rgb(241, 229, 234) 0%, rgb(220, 227, 242) 100%);
}

.header {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.9rem;
  min-height: 100px;
}
.headerimg_1logo {
  width: 8rem;
  margin-left: 4rem;
}
.text_header{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7.3rem;
  font-family: DINPro-bold;
}
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.titel_huren{
  display: flex;
  padding: 5rem;
  margin-bottom: -12rem;
  font-size: 3rem;
  justify-content: center;
}
.text_huren{
  flex-grow: 1;
  display: flex;
  padding: 5rem;
  justify-content: center;
  align-content: center;
  margin-top: 5rem;
  font-size: 1.8rem;
  flex-shrink: 1;
  max-width: 50ch;
  margin-left: 45rem;
}
.info{
padding: 5rem;
  display: flex;
  gap:  26rem;
  justify-content: center;
}
.info_img{
    display: block;
  max-width: calc(100% - 3.2rem);
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  border-radius: 1rem;
}